In [1]:
import pandas as pd
import pyodbc

### Data Order Detail

In [3]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=LAPTOP-IB3F1EEI\SQLEXPRESS;"
                      "Database=Northwind;"
                      "Trusted_Connection=yes;")

query_order_details = """
                        SELECT
                            od.OrderID
                            , od.UnitPrice
                            , od.Quantity
                            , od.Discount
                            , pd.ProductName
                            , sp.CompanyName as supplier_company
                            , sp.ContactName as supplier_contact_name
                            , sp.City as supplier_city
                            , sp.Region as supplier_region
                            , sp.Country as supplier_country
                            , sp.Phone as supplier_phone
                            , ct.CategoryName
                        FROM [Order Details] od
                        LEFT JOIN Products pd ON od.ProductID = pd.ProductID
                        LEFT JOIN Suppliers sp ON pd.SupplierID = sp.SupplierID
                        LEFT JOIN Categories ct ON pd.CategoryID = ct.CategoryID
                        """
data = pd.read_sql(query_order_details, cnxn)

In [8]:
data.to_parquet('.\\tables\order_detail.parquet')

### Data Customers

In [9]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=LAPTOP-IB3F1EEI\SQLEXPRESS;"
                      "Database=Northwind;"
                      "Trusted_Connection=yes;")

query_customers = """
                        SELECT * FROM Customers
                        """
data = pd.read_sql(query_customers, cnxn)

In [10]:
data.to_parquet('.\\tables\customers.parquet')

### Data Orders

In [11]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=LAPTOP-IB3F1EEI\SQLEXPRESS;"
                      "Database=Northwind;"
                      "Trusted_Connection=yes;")

query_orders = """
                        SELECT * FROM Orders
                        """
data = pd.read_sql(query_orders, cnxn)

In [12]:
data.to_parquet('.\\tables\orders.parquet')

### Data Shippers

In [15]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=LAPTOP-IB3F1EEI\SQLEXPRESS;"
                      "Database=Northwind;"
                      "Trusted_Connection=yes;")

query_shippers = """
                        SELECT * FROM Shippers
                        """
data = pd.read_sql(query_shippers, cnxn)

In [16]:
data.to_parquet('.\\tables\shippers.parquet')

### Data Employee

In [18]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=LAPTOP-IB3F1EEI\SQLEXPRESS;"
                      "Database=Northwind;"
                      "Trusted_Connection=yes;")

query_employee = """
                        SELECT
                            e.EmployeeID
                            , e.FirstName
                            , e.LastName
                            , e.Title
                            , e.BirthDate
                            , e.HireDate
                            , e.City as emp_city
                            , e.Region as emp_region
                            , e.Country as emp_country
                            , t.TerritoryDescription
                            , r.RegionDescription
                        FROM Employees e
                        LEFT JOIN EmployeeTerritories et ON e.EmployeeID = et.EmployeeID
                        LEFT JOIN Territories t ON et.TerritoryID = t.TerritoryID
                        LEFT JOIN Region r ON r.RegionID = t.RegionID
                        """
data = pd.read_sql(query_employee, cnxn)

In [19]:
data.to_parquet('.\\tables\employee.parquet')

In [20]:
data.head()

,EmployeeID,FirstName,LastName,Title,BirthDate,HireDate,emp_city,emp_region,emp_country,TerritoryDescription,RegionDescription
0,1,Nancy,Davolio,Sales Representative,1948-12-08,1992-05-01,Seattle,WA,USA,Wilton ...,Eastern ...
1,1,Nancy,Davolio,Sales Representative,1948-12-08,1992-05-01,Seattle,WA,USA,Neward ...,Eastern ...
2,2,Andrew,Fuller,"Vice President, Sales",1952-02-19,1992-08-14,Tacoma,WA,USA,Westboro ...,Eastern ...
3,2,Andrew,Fuller,"Vice President, Sales",1952-02-19,1992-08-14,Tacoma,WA,USA,Bedford ...,Eastern ...
4,2,Andrew,Fuller,"Vice President, Sales",1952-02-19,1992-08-14,Tacoma,WA,USA,Georgetow ...,Eastern ...